h1 {
    color: rgb(7, 102, 184);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
p {
    font-family: 'Salesforce Sans', Arial, sans-serif;
    color: rgb(35, 35, 34);
    text-align: center;
    font-size: medium;
}
.app {
    background-color: #71c9d5;
    height: 100vh;
    overflow: scroll;
    text-align: center;
}
div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: rgb(5, 66, 120);
}
.back{
    background: url(https://static.netshoes.com.br/produtos/camisa-de-goleiro-sport-recife-2122-sn-umbro-masculina/06/2IA-0597-206/2IA-0597-206_zoom4.jpg?ts=1620776846);
}
